#cards {
  width: 0 auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.marginbutton {
  margin: 5px;
}

@media only screen and (min-device-width: 701px) {
  html {
    margin-top: 2%;
    margin-left: 7%;
    margin-right: 7%;
  }
}
.card {
  width: 160px;
  height: 160px;
  margin: 1%;
}

.cardstyle {
  position: absolute;
  width: 160px;
  height: 160px;
  cursor: pointer;
  will-change: transform, opacity;
}

@media only screen and (max-device-width: 700px) {
  html {
    margin-top: 5%;
  }
  .cardstyle {
    width: 90px;
    height: 90px;
  }
  .card {
    width: 90px;
    height: 90px;
  }
}

.cardfront,
.cardback {
  background-size: cover;
}

.cardback {
  background-image: url(https://www.pngitem.com/pimgs/m/166-1662163_hey-arnold-no-background-png-download-hey-arnold.png);
}
